/* src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/* Opcional: Para el cuerpo de la página si aún hay margen */
body {
  margin: 0;
}

.carousel-background {
  min-height: 400px; /* Ajusta la altura según lo que necesites */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
}
