body {
  margin: 0;
  padding: 0;
}
/* Sobrescribe el color de los enlaces de la barra de navegación */
.navbar-nav .nav-link {
  color: #333333 !important;
  font-size: 1.1rem; /* También puedes poner el tamaño aquí */
}

/* Sobrescribe el color de los iconos */
.navbar-nav .nav-link svg {
  color: #333333 !important;
}

/* Opcional: Estilo al pasar el mouse */
.navbar-nav .nav-link:hover {
  color: #007bff !important;
}
#root {
  margin: 0;
  padding: 0;
}